@import "../public/assets/fonts/fontFace.css";
@import "tailwindcss";

* {
  font-family: "IRANYekanXFaNum";
  font-size: inherit;
}

body {
  font-size: 16px !important;
  direction: rtl !important;
  line-height: 1.5;
  transition: font-size 0.3s ease, font-weight 0.3s ease;
}

body,
.ant-btn,
.ant-btn *,
.ant-input,
.ant-input *,
.ant-select-selector,
.ant-select-selector *,
.ant-form-item,
.ant-form-item *,
.ant-radio-inner,
.ant-radio-inner *,
.ant-checkbox-inner,
.ant-checkbox-inner *,
.ant-form-item-label,
.ant-form-item-label * {
  font-size: inherit !important;
}

.ant-form-item-label > label {
  font-size: 14px !important;
  direction: rtl !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li {
  font-size: inherit;
  font-family: inherit;
}

input,
textarea,
select,
button,
label {
  font-size: inherit !important;
  direction: rtl !important;
  outline: none;
}

.accessibility-widget,
.accessibility-widget * {
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: normal !important;
  direction: rtl !important;
}

.accessibility-widget button {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
}

.shimmer {
  position: relative;
  overflow: hidden;
}
